// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.intero-repl-panel pre,
.intero-repl-panel {
  font-family: monospace;
  background-color: black;
  color: white;
  font-size: 12px;
  white-space: pre-wrap;
  overflow-x: hidden;
}

.intero-repl-panel--output {
  height: 34vh;
  min-height: 100px;
  overflow: scroll;
}

.intero-repl-panel--input {
  border: 1px solid transparent;
  position: absolute;
  bottom: 8px;
  width: 100%;
  margin-left: 144px;
  background-color: transparent;
}


.intero-status-spinner-icon {
  background-image: url('atom://haskell-intero/img/intero-icon.png');
  background-repeat: no-repeat;
  background-size: 13px;
  width: 13px;
  height: 13px;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 3px;

  &.intero-status-spinner-icon-animate {
    background-image: url('atom://haskell-intero/img/intero-icon-fade.png');
    animation: spin 1s linear infinite;
  }
}

@keyframes spin { 100% { transform:rotate(360deg); } }

.haskell-intero {

}
